*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.box1{
    width: 250px;
    height: 250px;
    background-color: chartreuse;
    margin: 20px;
}
.box1{
    padding: 15px;
}
.box2{
    width: 250px;
    height: 250px;
    background-color: darkgreen;
    margin: 20px;
}
.box2{
    padding: 15px;
}
.box3{
    width: 250px;
    height: 250px;
    background-color:greenyellow;
    margin: 20px;
}
.box3{
    padding: 15px;
}
.box4{
    width: 250px;
    height: 250px;
    background-color:lightseagreen;
    margin: 20px;
}
.box4{
    padding: 15px;
}
.box5{
    width: 250px;
    height: 250px;
    background-color:lightgreen;
    margin: 20px;
}
.box5{
    padding: 15px;
}
.box6{
    width: 250px;
    height: 250px;
    background-color:goldenrod;
    margin: 20px;
}
.box6{
    padding: 15px;
}

