.p-blue{
    color:blue;
}
.p-red{
    color: red;
}
.p-pink{
    color: pink;
}
.h1-1{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.h1-2{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
.h1-3{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}